[user]
    name = Aaron Becker
    email = akbecker@gmail.com
[color]
    status = auto
    diff = auto
    branch = auto
[web]
    browser = open
[gui]
    recentrepo = /Users/abecker/environment.git
[core]
	editor = vim
